@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('OTF/SourceSansPro-Light.otf') format('opentype'),
         url('TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('OTF/SourceSansPro-It.otf') format('opentype'),
         url('TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
         url('OTF/SourceSansPro-Black.otf') format('opentype'),
         url('TTF/SourceSansPro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('OTF/SourceSansPro-BlackIt.otf') format('opentype'),
         url('TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}

@font-face {
  font-family: "CooperHewitt-Medium";
  src: url("fonts/CooperHewitt-Medium.woff");
}

@font-face {
  font-family: "CooperHewitt-MediumItalic";
  src: url("fonts/CooperHewitt-MediumItalic.woff");
}
 
@font-face {
  font-family: "CooperHewitt-Light";
  src: url("fonts/CooperHewitt-Light.woff");
}

@font-face {
  font-family: "CooperHewitt-LightItalic";
  src: url("fonts/CooperHewitt-LightItalic.woff");
}

@font-face {
  font-family: "CooperHewitt-Book";
  src: url("fonts/CooperHewitt-Book.woff");
}

body {
	font-family: "Source Sans Pro";
	font-weight: 300;
}

hr {
	border-top: 2px dotted rgb(194,194,194)
}

p {
	font-size: 18px;
}

ul {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "CooperHewitt-Medium";
	font-weight: normal;
}

a {
	-webkit-transition:all 0.25s ease; 
 	-moz-transition:all 0.25s ease; 
 	-o-transition:all 0.25s ease; 
 	transition:all 0.25s ease;
}

a { 
	color: rgb(209, 161, 96);
}

/*footer {
	display: none;
}
*/

.headerlink {
	display:none !important;
	opacity: 0 !important;
	pointer-events: none !important;
}

.docutils.literal {
	padding-top: 4px;
	padding-bottom: 2px;
	font-size: 13px;
}

.toctree-l3 {
	display: none;
}

a:visited { 
	color: rgb(209, 161, 96);
}

a:hover {
	color: rgb(160, 121, 45);
}

#rtd-search-form {
	padding-top: 20px;
	padding-bottom: 20px;
}

#rtd-search-form input[type="text"] {
	font-family: "Source Sans Pro";
	font-weight: 200;
	width: 90%;
	box-shadow: none;
	border-radius: 5px;
	font-size: 16px;
	padding-top: 5px;
}

.wy-breadcrumbs-aside {
	display: none !important;
}

.wy-side-nav-search input[type=text] {
	border: none;
}

.wy-side-nav-search {
	background: none !important;
}

.icon {
	visibility: hidden;
	height: 110px;
}

.fa {
	display: none !important;
}

.icon:before {
	display: none !important;
}

.logo {
	visibility: visible;
	height: 100px !important;
	margin-top: -10px !important;
}

div[class^='highlight'] {
	border-radius: 8px;
}

div[class^='highlight'] pre {
	border-radius: 8px;
	font-size: 13px;
}

strong {
	font-family: "Source Sans Pro";
	font-weight: 600;
}

.method {
	font-family: "Source Sans Pro";
}

.rst-content dl:not(.docutils) dt {
	display: none;
}

.rst-content dl:not(.docutils) dl dt {
	display: inline-block;
}


.rst-content dl dd {
	margin-left: 2px;
	margin-bottom: 10px;
}

.rst-content table.field-list .field-name {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-size: 16px;
}

.rst-content table.field-list td {
	padding-top: 9px;
	font-size: 16px;
}

.rst-content dl:not(.docutils) dl dt {
	border-left: none;
	background: #f0f0f0;
}

.wy-nav-top {
	background: rgb(210,227,145);
}

.wy-nav-top a {
	font-family: "CooperHewitt-Medium";
	color: rgb(252,252,252) !important;
}

.wy-nav-content {
	max-width: 900px !important;
}

.wy-nav-content-wrap {
	background: none;
}

.wy-nav-side {
	background: rgb(210,227,145);
	overflow-y: hidden;
}

.btn {
	box-shadow: none;
	border: 2px solid rgb(241, 188, 137);
	color: rgb(241, 188, 137) !important;
	background-color: rgb(252,252,252) !important;
}

.btn:visited {
	color: rgb(209, 161, 96) !important;
}

.btn-neutral:visited {
	color: rgb(209, 161, 96) !important;
}

.btn:hover {
	background-color: rgb(241, 188, 137) !important;
	color: rgb(252,252,252) !important;
}

.btn-neutral:hover {
	background-color: rgb(241, 188, 137) !important;
	color: rgb(252,252,252) !important;
}

.toctree-expand {
	display: none !important;
}

.wy-menu-vertical a {
	font-family: "CooperHewitt-Light";
	color: rgb(20,20,20);
	font-size: 16px;
	background-color: none;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition:none;
 	-moz-transition:none;
 	-o-transition:none;
 	transition:none;
}

.wy-menu-vertical a:hover {
	background: none;
	font-family: "CooperHewitt-Medium";
	font-weight: 100;
}

.wy-menu-vertical a:active {
	color: rgb(20,20,20);
}

.wy-menu-vertical li.current a {
	border-right: none !important;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(238,240,198);
	color: rgb(20,20,20);
}

.wy-menu-vertical li.current a:hover {
	background-color: rgb(238,240,198);
}

.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current>a:hover {
	background-color: none;
}

.wy-menu-vertical li.current>a:hover {
	background-color:rgb(252,252,252);
}

.wy-menu-vertical li.toctree-l2.current>a {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "CooperHewitt-Medium";
	background-color: rgb(238,240,198);
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	border-bottom: none;
	border-top: none;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(252,252,252);
	font-family: "CooperHewitt-Medium";
	font-weight: normal;
	color: rgb(20,20,20);
}

.reference .internal {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: red !important;
}

@media (min-width: 768px) {

	.rst-footer-buttons {
		display: none;
	}

}